In [2]:
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib.dates import DateFormatter
from matplotlib import dates as mpld
from datetime import datetime
import matplotlib.dates as mdates
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.api import ExponentialSmoothing
import warnings
warnings.filterwarnings('ignore')

In [3]:
from matplotlib import font_manager, rc
font_path='C:/Windows/Fonts/malgunbd.ttf'
font=font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [4]:
df=pd.read_csv('../../data/normal_simulation.csv')
df_copy = df.copy()
df_copy.set_index(df['update_time'], inplace=True)
df_copy

,update_time,heart_rate1,event1,heart_rate2,event2,heart_rate3,event3,heart_rate4,event4,heart_rate5,...,heart_rate996,event996,heart_rate997,event997,heart_rate998,event998,heart_rate999,event999,heart_rate1000,event1000
update_time,,,,,,,,,,,,,,,,,,,,,
2023-10-01 00:00:00,2023-10-01 00:00:00,72,0,101,1,77,0,77,0,95,...,83,0,82,0,64,0,66,0,84,0
2023-10-01 00:10:00,2023-10-01 00:10:00,69,0,70,0,99,0,92,0,95,...,90,0,82,0,87,0,89,0,87,0
2023-10-01 00:20:00,2023-10-01 00:20:00,92,0,90,0,100,0,85,0,81,...,87,0,88,0,90,0,78,0,87,0
2023-10-01 00:30:00,2023-10-01 00:30:00,84,0,74,0,86,0,81,0,78,...,85,0,76,0,82,0,65,0,90,0
2023-10-01 00:40:00,2023-10-01 00:40:00,85,0,75,0,67,0,83,0,103,...,71,0,84,0,81,0,85,0,73,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-10 08:10:00,2023-10-10 08:10:00,83,0,95,0,77,0,63,0,97,...,84,0,100,0,83,0,86,0,88,0
2023-10-10 08:20:00,2023-10-10 08:20:00,74,0,79,0,87,0,76,0,83,...,82,0,91,0,91,0,75,0,70,0
2023-10-10 08:30:00,2023-10-10 08:30:00,83,0,89,0,100,0,92,0,77,...,88,0,78,0,66,0,89,0,84,0
2023-10-10 08:40:00,2023-10-10 08:40:00,110,1,81,0,82,0,72,0,86,...,66,0,67,0,71,0,70,0,65,0
2023-10-10 08:50:00,2023-10-10 08:50:00,82,0,68,0,78,0,86,0,73,...,76,0,92,0,83,0,59,1,78,0

In [5]:
df_copy.drop(labels=['update_time'],axis=1,inplace=True)
df_copy.head()

,heart_rate1,event1,heart_rate2,event2,heart_rate3,event3,heart_rate4,event4,heart_rate5,event5,...,heart_rate996,event996,heart_rate997,event997,heart_rate998,event998,heart_rate999,event999,heart_rate1000,event1000
update_time,,,,,,,,,,,,,,,,,,,,,
2023-10-01 00:00:00,72,0,101,1,77,0,77,0,95,0,...,83,0,82,0,64,0,66,0,84,0
2023-10-01 00:10:00,69,0,70,0,99,0,92,0,95,0,...,90,0,82,0,87,0,89,0,87,0
2023-10-01 00:20:00,92,0,90,0,100,0,85,0,81,0,...,87,0,88,0,90,0,78,0,87,0
2023-10-01 00:30:00,84,0,74,0,86,0,81,0,78,0,...,85,0,76,0,82,0,65,0,90,0
2023-10-01 00:40:00,85,0,75,0,67,0,83,0,103,1,...,71,0,84,0,81,0,85,0,73,0

#### Data Generation

In [6]:
# result_df = pd.DataFrame()

# # 각 모델별로 df_copy['f'heart_rate{i}']번째 값을 train
# for j in range(1,1001):
#     model = ExponentialSmoothing(
#         df_copy['heart_rate{}'.format(j)], trend='additive', seasonal='additive', seasonal_periods=365).fit()

#     # i번째 validation셋의 결과를 result{i}에 저장
#     result_i = model.predict(
#         start=df_copy.index[0], end=df_copy.index[-1])

#     # result{i}를 result_df에 누적
#     result_df[f'is_anomaly{j}'] = result_i
#     # if j == 1:
#     #     result_df[f'is_anomaly{j}'] = result_i
#     # else:
#     #     result_df[f'is_anomaly{j}'] = pd.concat([result_df, result_i], axis=1)
        
# result_df.head()

,is_anomaly1,is_anomaly2,is_anomaly3,is_anomaly4,is_anomaly5,is_anomaly6,is_anomaly7,is_anomaly8,is_anomaly9,is_anomaly10,...,is_anomaly991,is_anomaly992,is_anomaly993,is_anomaly994,is_anomaly995,is_anomaly996,is_anomaly997,is_anomaly998,is_anomaly999,is_anomaly1000
2023-10-01 00:00:00,74.136537,82.262918,79.735817,77.592705,82.849799,73.812684,77.255580,73.983144,88.591479,88.456539,...,86.450934,89.742906,99.680948,84.798928,78.578173,71.147163,79.654672,69.018325,77.943488,84.676747
2023-10-01 00:10:00,70.369990,92.640638,82.173839,88.254681,75.767375,80.715198,80.881856,80.885295,74.142860,84.835161,...,76.328086,82.519861,92.816738,72.483364,68.928112,84.142067,79.184108,70.981450,76.194354,74.387826
2023-10-01 00:20:00,79.660694,78.443334,94.066841,80.571315,82.538916,85.024484,71.877098,82.347757,74.484362,77.441425,...,77.416697,88.305804,105.168891,81.445187,78.290296,89.355486,82.916925,76.816173,83.875449,84.372972
2023-10-01 00:30:00,83.700949,76.967183,81.881205,83.256406,76.228851,80.936989,72.490613,83.712509,78.946412,78.342332,...,76.398438,80.605234,105.457376,86.361347,84.189967,86.952848,72.658803,80.257268,86.515310,81.109528
2023-10-01 00:40:00,85.545322,78.465771,81.996210,83.974985,90.181103,78.586347,86.004241,72.625838,77.442902,81.545473,...,79.670315,89.816137,103.938079,73.288030,73.026208,73.373245,81.392362,76.064232,80.863404,78.314454

In [ ]:
result_df = pd.DataFrame()

# 각 모델별로 df_copy['f'heart_rate{i}']번째 값을 train
for j in range(1,1001):
    model = ExponentialSmoothing(
        df_copy['heart_rate{}'.format(j)], trend='additive', seasonal='additive', seasonal_periods=365).fit()

    # i번째 validation셋의 결과를 result{i}에 저장
    result_i = model.predict(
        start=df_copy.index[0], end=df_copy.index[-1])

    # result{i}를 result_df에 누적
    result_df[f'pred_y{j}'] = result_i
    # if j == 1:
    #     result_df[f'pred_y{j}'] = result_i
    # else:
    #     result_df[f'pred_y{j}'] = pd.concat([result_df, result_i], axis=1)
        
result_df.head()

In [ ]:
# for j in range(1,1001):
#     fit7 = ExponentialSmoothing(df_copy[f'heart_rate{j}'], 
#              seasonal_periods=365, 
#              trend='additive', 
#              seasonal='additive').fit(optimized=True, use_brute=True)
    
#     # i번째 validation셋의 결과를 result{i}에 저장
#     result_i = model.predict(
#         start=df_copy.index[0], end=df_copy.index[-1])
    
#     result_df_5[f'is_anomaly{j}'] = result_i
    
# result_df_5.head()

In [7]:
print(len(result_df))

1350

In [9]:
result_df

,is_anomaly1,is_anomaly2,is_anomaly3,is_anomaly4,is_anomaly5,is_anomaly6,is_anomaly7,is_anomaly8,is_anomaly9,is_anomaly10,...,is_anomaly991,is_anomaly992,is_anomaly993,is_anomaly994,is_anomaly995,is_anomaly996,is_anomaly997,is_anomaly998,is_anomaly999,is_anomaly1000
2023-10-01 00:00:00,74.136537,82.262918,79.735817,77.592705,82.849799,73.812684,77.255580,73.983144,88.591479,88.456539,...,86.450934,89.742906,99.680948,84.798928,78.578173,71.147163,79.654672,69.018325,77.943488,84.676747
2023-10-01 00:10:00,70.369990,92.640638,82.173839,88.254681,75.767375,80.715198,80.881856,80.885295,74.142860,84.835161,...,76.328086,82.519861,92.816738,72.483364,68.928112,84.142067,79.184108,70.981450,76.194354,74.387826
2023-10-01 00:20:00,79.660694,78.443334,94.066841,80.571315,82.538916,85.024484,71.877098,82.347757,74.484362,77.441425,...,77.416697,88.305804,105.168891,81.445187,78.290296,89.355486,82.916925,76.816173,83.875449,84.372972
2023-10-01 00:30:00,83.700949,76.967183,81.881205,83.256406,76.228851,80.936989,72.490613,83.712509,78.946412,78.342332,...,76.398438,80.605234,105.457376,86.361347,84.189967,86.952848,72.658803,80.257268,86.515310,81.109528
2023-10-01 00:40:00,85.545322,78.465771,81.996210,83.974985,90.181103,78.586347,86.004241,72.625838,77.442902,81.545473,...,79.670315,89.816137,103.938079,73.288030,73.026208,73.373245,81.392362,76.064232,80.863404,78.314454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-10 08:10:00,69.595379,82.076080,77.135673,77.024204,86.235907,71.024644,78.771999,81.930670,74.653084,82.434767,...,79.323360,69.813660,86.832221,75.837519,78.371864,76.255831,86.162694,89.099276,78.651188,83.195498
2023-10-10 08:20:00,78.052480,81.262286,74.086531,79.232574,82.836363,82.818218,80.329285,70.876620,82.758475,85.413601,...,84.953202,83.705981,86.721847,78.961998,71.243149,82.453527,83.176243,86.665157,70.360973,82.011868
2023-10-10 08:30:00,70.439284,80.919773,84.173085,90.744513,82.722145,72.031980,81.432550,89.791410,76.354154,83.537655,...,76.190854,75.922440,85.331495,83.905809,90.930443,85.965597,75.443846,77.243481,82.281801,80.061841
2023-10-10 08:40:00,83.558291,80.807140,73.924834,75.325605,81.058768,71.414271,81.437519,70.675565,86.099964,78.297206,...,73.879397,78.334921,85.329781,80.046300,85.211857,73.542456,76.639862,82.563149,72.331460,79.577296
2023-10-10 08:50:00,78.135936,81.153378,80.121089,82.787922,75.922315,83.016020,84.652824,70.539348,76.525817,79.655769,...,70.437633,80.182979,75.184028,78.674784,85.468392,75.104439,81.183243,79.542776,72.572577,69.835145

In [ ]:
print(df_copy.info())
print(result_df.info())

print(df_copy.head())
print(result_df.head())

In [ ]:
aa1 = result_df.copy()
aa2 = df_copy.copy()

aa1 = aa1.reset_index()
aa2 = aa2.reset_index()

diff_df = pd.merge(aa1, aa2, left_index=True, right_index=True,
                   how='inner')
# diff_df = aa2.merge(aa1, how='inner', on='index')
# diff_df['diff'] = diff_df['heart_rate1'] - diff_df['is_anomaly1']
print(diff_df)

In [88]:
# PERIOD = 12
# GAMMA = 0
# SF = 1.96
# UB = []           
# LB = []

# for j in range(1,1000):
#     # 실측치와 예측치를 비교하는 자료구조
#     difference_array = []
#     dt = []
#     difference_table = {"actual": df_copy[f'heart_rate{j+1}'], "predicted": result_df[f'is_anomaly{j+1}'], "difference": difference_array, "UB": UB, "LB": LB}

# # brutlag 알고리즘
# # i안에 넣어버리면 j가 1일 동안에 i 1~1000, j가 2일 때 반복 한번에 넣어야함
# for j,i in zip(range(0,1000),range(len(result_df))):
#     # 밑에 식으로 하면 서로 다른 데이터프레임의 열로 연산하는거라 Nan만 출력함
#     # 같은 데이터프레임으로 합쳐줘야함
#     # diff = df_copy.iloc[f'heart_rate{j+1}']-result_df.iloc[:,i]
#     diff_df[f'diff{j+1}'] = diff_df[f'heart_rate{j+1}'] - diff_df[f'is_anomaly{j+1}']
#     if i < PERIOD:
#         dt.append(GAMMA*abs(diff_df[f'diff{j+1}']))
#     else:
#         dt.append(GAMMA*abs(diff_df[f'diff{j+1}']) + (1-GAMMA)*dt[i-PERIOD])

#     difference_array.append(diff_df[f'diff{j+1}'])
#     UB.append(diff_df[f'is_anomaly{j+1}']+SF*dt[i])
#     LB.append(diff_df[f'is_anomaly{j+1}']-SF*dt[i])
    
# if (diff_df[f'diff{j+1}'] > UB[j]).any() or (diff_df[f'diff{j+1}'] < LB[j]).any():
#     result_df[f'event{j+1}'] = 1
# else:
#     result_df[f'event{j+1}'] = 0

In [ ]:
# 위에껀 event에 반복문 제대로 설정안해서 마지막 event1000만 나옴
# 이번에껀 보완해서 1000개 나오도록
PERIOD = 12
GAMMA = 0
SF = 1.96
UB = []           
LB = []

for j in range(1,1000):
    # 실측치와 예측치를 비교하는 자료구조
    difference_array = []
    dt = []
    difference_table = {"actual": df_copy[f'heart_rate{j+1}'], "predicted": result_df[f'is_anomaly{j+1}'], "difference": difference_array, "UB": UB, "LB": LB}

# brutlag 알고리즘
# i안에 넣어버리면 j가 1일 동안에 i 1~1000, j가 2일 때 반복 한번에 넣어야함
for j,i in zip(range(0,1000),range(len(result_df))):
    # 밑에 식으로 하면 서로 다른 데이터프레임의 열로 연산하는거라 Nan만 출력함
    # 같은 데이터프레임으로 합쳐줘야함
    # diff = df_copy.iloc[f'heart_rate{j+1}']-result_df.iloc[:,i]
    diff_df[f'diff{j+1}'] = diff_df[f'heart_rate{j+1}'] - diff_df[f'is_anomaly{j+1}']
    if i < PERIOD:
        dt.append(GAMMA*abs(diff_df[f'diff{j+1}']))
    else:
        dt.append(GAMMA*abs(diff_df[f'diff{j+1}']) + (1-GAMMA)*dt[i-PERIOD])

    difference_array.append(diff_df[f'diff{j+1}'])
    UB.append(diff_df[f'is_anomaly{j+1}']+SF*dt[i])
    LB.append(diff_df[f'is_anomaly{j+1}']-SF*dt[i])
    
for j in range(0,1000):
    if (diff_df[f'diff{j+1}'] > UB[j]).any() or (diff_df[f'diff{j+1}'] < LB[j]).any():
        result_df[f'pred_y{j+1}'] = 1
    else:
        result_df[f'pred_y{j+1}'] = 0

##### 결과 표

In [101]:
result_df.iloc[:,:5]

,is_anomaly1,is_anomaly2,is_anomaly3,is_anomaly4,is_anomaly5
2023-10-01 00:00:00,74.136537,82.262918,79.735817,77.592705,82.849799
2023-10-01 00:10:00,70.369990,92.640638,82.173839,88.254681,75.767375
2023-10-01 00:20:00,79.660694,78.443334,94.066841,80.571315,82.538916
2023-10-01 00:30:00,83.700949,76.967183,81.881205,83.256406,76.228851
2023-10-01 00:40:00,85.545322,78.465771,81.996210,83.974985,90.181103
...,...,...,...,...,...
2023-10-10 08:10:00,69.595379,82.076080,77.135673,77.024204,86.235907
2023-10-10 08:20:00,78.052480,81.262286,74.086531,79.232574,82.836363
2023-10-10 08:30:00,70.439284,80.919773,84.173085,90.744513,82.722145
2023-10-10 08:40:00,83.558291,80.807140,73.924834,75.325605,81.058768
2023-10-10 08:50:00,78.135936,81.153378,80.121089,82.787922,75.922315

In [118]:
aaa = result_df.iloc[:,2000:].copy()
aaa.reset_index(drop=True, inplace=True)
aaa

,pred_y1,pred_y2,pred_y3,pred_y4,pred_y5,pred_y6,pred_y7,pred_y8,pred_y9,pred_y10,...,pred_y991,pred_y992,pred_y993,pred_y994,pred_y995,pred_y996,pred_y997,pred_y998,pred_y999,pred_y1000
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1346,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1347,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1348,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1349,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [119]:
aa2.drop(labels=['update_time'], axis=1, inplace=True)

In [123]:
final_normal = pd.concat([aaa,aa2], axis = 1)
final_normal

,pred_y1,pred_y2,pred_y3,pred_y4,pred_y5,pred_y6,pred_y7,pred_y8,pred_y9,pred_y10,...,heart_rate996,event996,heart_rate997,event997,heart_rate998,event998,heart_rate999,event999,heart_rate1000,event1000
0,1,1,1,1,1,1,1,1,1,1,...,83,0,82,0,64,0,66,0,84,0
1,1,1,1,1,1,1,1,1,1,1,...,90,0,82,0,87,0,89,0,87,0
2,1,1,1,1,1,1,1,1,1,1,...,87,0,88,0,90,0,78,0,87,0
3,1,1,1,1,1,1,1,1,1,1,...,85,0,76,0,82,0,65,0,90,0
4,1,1,1,1,1,1,1,1,1,1,...,71,0,84,0,81,0,85,0,73,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1,1,1,1,1,1,1,1,1,1,...,84,0,100,0,83,0,86,0,88,0
1346,1,1,1,1,1,1,1,1,1,1,...,82,0,91,0,91,0,75,0,70,0
1347,1,1,1,1,1,1,1,1,1,1,...,88,0,78,0,66,0,89,0,84,0
1348,1,1,1,1,1,1,1,1,1,1,...,66,0,67,0,71,0,70,0,65,0
1349,1,1,1,1,1,1,1,1,1,1,...,76,0,92,0,83,0,59,1,78,0

In [139]:
final_1 = pd.DataFrame()

for i in range(1,1001):
    final_1[[f'event{i}',f'pred_y{i}']] = final_normal[[f'event{i}',f'pred_y{i}']]
    
    
final_1.set_index(df['update_time'], inplace=True)
final_1[1008:]

,event1,pred_y1,event2,pred_y2,event3,pred_y3,event4,pred_y4,event5,pred_y5,...,event996,pred_y996,event997,pred_y997,event998,pred_y998,event999,pred_y999,event1000,pred_y1000
update_time,,,,,,,,,,,,,,,,,,,,,
2023-10-08 00:00:00,0,1,0,1,0,1,0,1,0,1,...,1,1,0,1,0,1,0,1,0,1
2023-10-08 00:10:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
2023-10-08 00:20:00,0,1,0,1,0,1,1,1,0,1,...,0,1,0,1,0,1,0,1,0,1
2023-10-08 00:30:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
2023-10-08 00:40:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-10 08:10:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
2023-10-10 08:20:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
2023-10-10 08:30:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
2023-10-10 08:40:00,1,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
2023-10-10 08:50:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,1,1,0,1

In [141]:
ab = final_1[1008:].copy()
ab.to_csv('../../결과/holt_normal_simulation_result.csv', index=False)