In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib.dates import DateFormatter
from matplotlib import dates as mpld
from datetime import datetime
import matplotlib.dates as mdates
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.api import ExponentialSmoothing
import warnings
warnings.filterwarnings('ignore')

In [2]:
from matplotlib import font_manager, rc
font_path='C:/Windows/Fonts/malgunbd.ttf'
font=font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [5]:
tet=pd.read_csv('../../data/normal_simulation.csv')
tet.head()

,update_time,heart_rate1,event1,heart_rate2,event2,heart_rate3,event3,heart_rate4,event4,heart_rate5,...,heart_rate996,event996,heart_rate997,event997,heart_rate998,event998,heart_rate999,event999,heart_rate1000,event1000
0,2023-10-01 00:00:00,72,0,101,1,77,0,77,0,95,...,83,0,82,0,64,0,66,0,84,0
1,2023-10-01 00:10:00,69,0,70,0,99,0,92,0,95,...,90,0,82,0,87,0,89,0,87,0
2,2023-10-01 00:20:00,92,0,90,0,100,0,85,0,81,...,87,0,88,0,90,0,78,0,87,0
3,2023-10-01 00:30:00,84,0,74,0,86,0,81,0,78,...,85,0,76,0,82,0,65,0,90,0
4,2023-10-01 00:40:00,85,0,75,0,67,0,83,0,103,...,71,0,84,0,81,0,85,0,73,0

In [7]:
df=pd.read_csv('../../data/uniform_train_set.csv')
df_copy = df.copy()
df_copy.set_index(tet['update_time'], inplace=True)
df_copy

,heart_rate1,event1,heart_rate10,event10,heart_rate100,event100,heart_rate1000,event1000,heart_rate101,event101,...,event995,heart_rate996,event996,heart_rate997,event997,heart_rate998,event998,heart_rate999,event999,update_time
update_time,,,,,,,,,,,,,,,,,,,,,
2023-10-01 00:00:00,100,0,83,0,76,0,66,0,97,0,...,0,73,0,62,0,96,0,78,0,01JAN2020:00:00:00
2023-10-01 00:10:00,79,0,91,0,77,0,83,0,96,0,...,0,88,0,96,0,96,0,91,0,01JAN2020:00:10:00
2023-10-01 00:20:00,61,0,69,0,87,0,91,0,83,0,...,0,89,0,95,0,98,0,78,0,01JAN2020:00:20:00
2023-10-01 00:30:00,71,0,66,0,89,0,89,0,93,0,...,0,94,0,75,0,100,0,88,0,01JAN2020:00:30:00
2023-10-01 00:40:00,90,0,90,0,69,0,67,0,95,0,...,0,90,0,66,0,68,0,98,0,01JAN2020:00:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-10 08:10:00,109,1,91,0,98,0,100,0,49,1,...,1,93,0,62,0,88,0,137,1,10JAN2020:08:10:00
2023-10-10 08:20:00,71,0,60,0,74,0,71,0,62,0,...,0,80,0,99,0,93,0,108,1,10JAN2020:08:20:00
2023-10-10 08:30:00,83,0,68,0,63,0,87,0,80,0,...,0,87,0,68,0,87,0,81,0,10JAN2020:08:30:00
2023-10-10 08:40:00,91,0,72,0,88,0,76,0,61,0,...,0,63,0,67,0,96,0,73,0,10JAN2020:08:40:00
2023-10-10 08:50:00,65,0,72,0,98,0,76,0,65,0,...,0,89,0,73,0,66,0,91,0,10JAN2020:08:50:00

In [8]:
df_copy.drop(labels=['update_time'],axis=1,inplace=True)
df_copy.head()

,heart_rate1,event1,heart_rate10,event10,heart_rate100,event100,heart_rate1000,event1000,heart_rate101,event101,...,heart_rate995,event995,heart_rate996,event996,heart_rate997,event997,heart_rate998,event998,heart_rate999,event999
update_time,,,,,,,,,,,,,,,,,,,,,
2023-10-01 00:00:00,100,0,83,0,76,0,66,0,97,0,...,75,0,73,0,62,0,96,0,78,0
2023-10-01 00:10:00,79,0,91,0,77,0,83,0,96,0,...,96,0,88,0,96,0,96,0,91,0
2023-10-01 00:20:00,61,0,69,0,87,0,91,0,83,0,...,85,0,89,0,95,0,98,0,78,0
2023-10-01 00:30:00,71,0,66,0,89,0,89,0,93,0,...,71,0,94,0,75,0,100,0,88,0
2023-10-01 00:40:00,90,0,90,0,69,0,67,0,95,0,...,91,0,90,0,66,0,68,0,98,0

#### modeling

In [6]:
# result_df = pd.DataFrame()

# # 각 모델별로 df_copy['f'heart_rate{i}']번째 값을 train
# for j in range(1,1001):
#     model = ExponentialSmoothing(
#         df_copy['heart_rate{}'.format(j)], trend='additive', seasonal='additive', seasonal_periods=365).fit()

#     # i번째 validation셋의 결과를 result{i}에 저장
#     result_i = model.predict(
#         start=df_copy.index[0], end=df_copy.index[-1])

#     # result{i}를 result_df에 누적
#     result_df[f'is_anomaly{j}'] = result_i
#     # if j == 1:
#     #     result_df[f'is_anomaly{j}'] = result_i
#     # else:
#     #     result_df[f'is_anomaly{j}'] = pd.concat([result_df, result_i], axis=1)
        
# result_df.head()

,is_anomaly1,is_anomaly2,is_anomaly3,is_anomaly4,is_anomaly5,is_anomaly6,is_anomaly7,is_anomaly8,is_anomaly9,is_anomaly10,...,is_anomaly991,is_anomaly992,is_anomaly993,is_anomaly994,is_anomaly995,is_anomaly996,is_anomaly997,is_anomaly998,is_anomaly999,is_anomaly1000
2023-10-01 00:00:00,74.136537,82.262918,79.735817,77.592705,82.849799,73.812684,77.255580,73.983144,88.591479,88.456539,...,86.450934,89.742906,99.680948,84.798928,78.578173,71.147163,79.654672,69.018325,77.943488,84.676747
2023-10-01 00:10:00,70.369990,92.640638,82.173839,88.254681,75.767375,80.715198,80.881856,80.885295,74.142860,84.835161,...,76.328086,82.519861,92.816738,72.483364,68.928112,84.142067,79.184108,70.981450,76.194354,74.387826
2023-10-01 00:20:00,79.660694,78.443334,94.066841,80.571315,82.538916,85.024484,71.877098,82.347757,74.484362,77.441425,...,77.416697,88.305804,105.168891,81.445187,78.290296,89.355486,82.916925,76.816173,83.875449,84.372972
2023-10-01 00:30:00,83.700949,76.967183,81.881205,83.256406,76.228851,80.936989,72.490613,83.712509,78.946412,78.342332,...,76.398438,80.605234,105.457376,86.361347,84.189967,86.952848,72.658803,80.257268,86.515310,81.109528
2023-10-01 00:40:00,85.545322,78.465771,81.996210,83.974985,90.181103,78.586347,86.004241,72.625838,77.442902,81.545473,...,79.670315,89.816137,103.938079,73.288030,73.026208,73.373245,81.392362,76.064232,80.863404,78.314454

In [9]:
result_df = pd.DataFrame()

# 각 모델별로 df_copy['f'heart_rate{i}']번째 값을 train
for j in range(1,1001):
    model = ExponentialSmoothing(
        df_copy[f'heart_rate{j}'], trend='additive', seasonal='additive', seasonal_periods=365).fit()

    # i번째 validation셋의 결과를 result{i}에 저장
    result_i = model.predict(
        start=df_copy.index[0], end=df_copy.index[-1])

    # result{i}를 result_df에 누적
    result_df[f'pred_y{j}'] = result_i
    # if j == 1:
    #     result_df[f'pred_y{j}'] = result_i
    # else:
    #     result_df[f'pred_y{j}'] = pd.concat([result_df, result_i], axis=1)
        
result_df.head()

,pred_y1,pred_y2,pred_y3,pred_y4,pred_y5,pred_y6,pred_y7,pred_y8,pred_y9,pred_y10,...,pred_y991,pred_y992,pred_y993,pred_y994,pred_y995,pred_y996,pred_y997,pred_y998,pred_y999,pred_y1000
2023-10-01 00:00:00,86.642376,89.599629,88.181334,65.734222,90.055942,80.630316,93.018178,68.016398,83.044752,87.301985,...,77.666488,98.576358,57.080803,92.047486,79.350477,75.334596,84.568672,105.022058,75.308961,82.772993
2023-10-01 00:10:00,86.562460,97.625842,81.414674,55.253726,74.558828,76.365595,92.717503,72.589500,82.011620,83.928225,...,74.777999,100.983165,78.600449,71.291699,89.019181,77.304814,95.255181,82.545830,92.105623,70.602062
2023-10-01 00:20:00,65.344117,89.225025,68.671825,61.976679,84.676811,75.784150,81.571332,74.379912,85.124071,79.507194,...,64.831398,99.358784,101.943680,77.268402,82.290176,76.759372,97.730374,88.912615,68.214153,79.381064
2023-10-01 00:30:00,86.888779,71.361533,79.608234,73.842337,92.000924,74.782875,80.619068,73.928677,74.671041,79.892253,...,67.784617,86.475295,86.555439,73.280068,85.139878,67.540306,83.819037,93.062393,85.253655,71.718573
2023-10-01 00:40:00,78.424345,71.088962,82.029847,77.065167,80.851937,76.963661,70.604116,69.121200,79.747620,82.441610,...,78.480574,86.776683,80.697374,84.201282,100.240089,87.179182,73.259189,96.274695,98.088275,64.801101

In [10]:
print(len(result_df))

1350

In [11]:
result_df

,pred_y1,pred_y2,pred_y3,pred_y4,pred_y5,pred_y6,pred_y7,pred_y8,pred_y9,pred_y10,...,pred_y991,pred_y992,pred_y993,pred_y994,pred_y995,pred_y996,pred_y997,pred_y998,pred_y999,pred_y1000
2023-10-01 00:00:00,86.642376,89.599629,88.181334,65.734222,90.055942,80.630316,93.018178,68.016398,83.044752,87.301985,...,77.666488,98.576358,57.080803,92.047486,79.350477,75.334596,84.568672,105.022058,75.308961,82.772993
2023-10-01 00:10:00,86.562460,97.625842,81.414674,55.253726,74.558828,76.365595,92.717503,72.589500,82.011620,83.928225,...,74.777999,100.983165,78.600449,71.291699,89.019181,77.304814,95.255181,82.545830,92.105623,70.602062
2023-10-01 00:20:00,65.344117,89.225025,68.671825,61.976679,84.676811,75.784150,81.571332,74.379912,85.124071,79.507194,...,64.831398,99.358784,101.943680,77.268402,82.290176,76.759372,97.730374,88.912615,68.214153,79.381064
2023-10-01 00:30:00,86.888779,71.361533,79.608234,73.842337,92.000924,74.782875,80.619068,73.928677,74.671041,79.892253,...,67.784617,86.475295,86.555439,73.280068,85.139878,67.540306,83.819037,93.062393,85.253655,71.718573
2023-10-01 00:40:00,78.424345,71.088962,82.029847,77.065167,80.851937,76.963661,70.604116,69.121200,79.747620,82.441610,...,78.480574,86.776683,80.697374,84.201282,100.240089,87.179182,73.259189,96.274695,98.088275,64.801101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-10 08:10:00,88.298801,88.737603,85.920246,76.027065,83.313035,76.982368,81.077622,82.325490,83.229005,90.786499,...,84.029739,85.911740,80.630933,73.056439,84.996224,93.458003,82.365337,78.184435,86.516149,74.845888
2023-10-10 08:20:00,76.697886,80.359922,88.411885,91.401807,78.593923,86.947664,84.014665,81.805379,68.125038,79.700177,...,88.864650,84.256078,85.489937,77.251023,69.715015,73.146892,71.785662,84.747028,89.117587,71.713996
2023-10-10 08:30:00,68.748064,92.729370,74.918339,84.639056,93.866520,71.471937,87.516403,67.228845,75.424891,78.671771,...,91.111095,79.608743,89.274021,78.452613,90.986403,75.520198,72.211415,72.812473,84.264733,58.670585
2023-10-10 08:40:00,68.755600,73.852701,87.154476,90.753889,84.499177,101.799440,76.040367,77.424595,72.840291,84.654506,...,89.904587,96.159947,88.250597,78.625033,86.481374,70.504152,78.367567,84.591511,89.811414,81.943857
2023-10-10 08:50:00,73.495064,103.408334,89.620882,89.757258,75.818339,73.419082,77.422777,77.707168,69.714027,81.836925,...,80.956677,103.040862,91.757910,78.924791,93.169023,88.643988,73.800046,78.225095,81.506993,78.501945

In [13]:
aa1 = result_df.copy()
aa2 = df_copy.copy()

aa1 = aa1.reset_index()
aa2 = aa2.reset_index()

diff_df = pd.merge(aa1, aa2, left_index=True, right_index=True,
                   how='inner')
# diff_df = aa2.merge(aa1, how='inner', on='index')
# diff_df['diff'] = diff_df['heart_rate1'] - diff_df['is_anomaly1']
print(diff_df)

                   index    pred_y1     pred_y2    pred_y3    pred_y4  \
0    2023-10-01 00:00:00  86.642376   89.599629  88.181334  65.734222
1    2023-10-01 00:10:00  86.562460   97.625842  81.414674  55.253726
2    2023-10-01 00:20:00  65.344117   89.225025  68.671825  61.976679
3    2023-10-01 00:30:00  86.888779   71.361533  79.608234  73.842337
4    2023-10-01 00:40:00  78.424345   71.088962  82.029847  77.065167
...                  ...        ...         ...        ...        ...
1345 2023-10-10 08:10:00  88.298801   88.737603  85.920246  76.027065
1346 2023-10-10 08:20:00  76.697886   80.359922  88.411885  91.401807
1347 2023-10-10 08:30:00  68.748064   92.729370  74.918339  84.639056
1348 2023-10-10 08:40:00  68.755600   73.852701  87.154476  90.753889
1349 2023-10-10 08:50:00  73.495064  103.408334  89.620882  89.757258

        pred_y5     pred_y6    pred_y7    pred_y8    pred_y9  ...  \
0     90.055942   80.630316  93.018178  68.016398  83.044752  ...
1     74.558828   76.365595  92.717503  72.589500  82.011620  ...
2     84.676811   75.784150  81.571332  74.379912  85.124071  ...
3     92.000924   74.782875  80.619068  73.928677  74.671041  ...
4     80.851937   76.963661  70.604116  69.121200  79.747620  ...
...         ...         ...        ...        ...        ...  ...
1345  83.313035   76.982368  81.077622  82.325490  83.229005  ...
1346  78.593923   86.947664  84.014665  81.805379  68.125038  ...
1347  93.866520   71.471937  87.516403  67.228845  75.424891  ...
1348  84.499177  101.799440  76.040367  77.424595  72.840291  ...
1349  75.818339   73.419082  77.422777  77.707168  69.714027  ...

      heart_rate995  event995  heart_rate996  event996  heart_rate997  \
0                75         0             73         0             62
1                96         0             88         0             96
2                85         0             89         0             95
3                71         0             94         0             75
4                91         0             90         0             66
...             ...       ...            ...       ...            ...
1345            129         1             93         0             62
1346             66         0             80         0             99
1347             94         0             87         0             68
1348             63         0             63         0             67
1349            100         0             89         0             73

      event997  heart_rate998  event998  heart_rate999  event999
0            0             96         0             78         0
1            0             96         0             91         0
2            0             98         0             78         0
3            0            100         0             88         0
4            0             68         0             98         0
...        ...            ...       ...            ...       ...
1345         0             88         0            137         1
1346         0             93         0            108         1
1347         0             87         0             81         0
1348         0             96         0             73         0
1349         0             66         0             91         0

[1350 rows x 3002 columns]

In [15]:
PERIOD = 12
GAMMA = 0
SF = 1.96
UB = []           
LB = []

for j in range(0,1000):
    # 실측치와 예측치를 비교하는 자료구조
    difference_array = []
    dt = []
    difference_table = {"actual": df_copy[f'heart_rate{j+1}'], "predicted": result_df[f'pred_y{j+1}'], "difference": difference_array, "UB": UB, "LB": LB}

# brutlag 알고리즘
# i안에 넣어버리면 j가 1일 동안에 i 1~1000, j가 2일 때 반복 한번에 넣어야함
for j,i in zip(range(0,1000),range(len(result_df))):
    # 밑에 식으로 하면 서로 다른 데이터프레임의 열로 연산하는거라 Nan만 출력함
    # 같은 데이터프레임으로 합쳐줘야함
    # diff = df_copy.iloc[f'heart_rate{j+1}']-result_df.iloc[:,i]
    diff_df[f'diff{j+1}'] = diff_df[f'heart_rate{j+1}'] - diff_df[f'pred_y{j+1}']
    if i < PERIOD:
        dt.append(GAMMA*abs(diff_df[f'diff{j+1}']))
    else:
        dt.append(GAMMA*abs(diff_df[f'diff{j+1}']) + (1-GAMMA)*dt[i-PERIOD])

    difference_array.append(diff_df[f'diff{j+1}'])
    UB.append(diff_df[f'pred_y{j+1}']+SF*dt[i])
    LB.append(diff_df[f'pred_y{j+1}']-SF*dt[i])
    
if (diff_df[f'diff{j+1}'] > UB[j]).any() or (diff_df[f'diff{j+1}'] < LB[j]).any():
    result_df[f'event{j+1}'] = 1
else:
    result_df[f'event{j+1}'] = 0

In [16]:
result_df

,pred_y1,pred_y2,pred_y3,pred_y4,pred_y5,pred_y6,pred_y7,pred_y8,pred_y9,pred_y10,...,pred_y992,pred_y993,pred_y994,pred_y995,pred_y996,pred_y997,pred_y998,pred_y999,pred_y1000,event1000
2023-10-01 00:00:00,86.642376,89.599629,88.181334,65.734222,90.055942,80.630316,93.018178,68.016398,83.044752,87.301985,...,98.576358,57.080803,92.047486,79.350477,75.334596,84.568672,105.022058,75.308961,82.772993,1
2023-10-01 00:10:00,86.562460,97.625842,81.414674,55.253726,74.558828,76.365595,92.717503,72.589500,82.011620,83.928225,...,100.983165,78.600449,71.291699,89.019181,77.304814,95.255181,82.545830,92.105623,70.602062,1
2023-10-01 00:20:00,65.344117,89.225025,68.671825,61.976679,84.676811,75.784150,81.571332,74.379912,85.124071,79.507194,...,99.358784,101.943680,77.268402,82.290176,76.759372,97.730374,88.912615,68.214153,79.381064,1
2023-10-01 00:30:00,86.888779,71.361533,79.608234,73.842337,92.000924,74.782875,80.619068,73.928677,74.671041,79.892253,...,86.475295,86.555439,73.280068,85.139878,67.540306,83.819037,93.062393,85.253655,71.718573,1
2023-10-01 00:40:00,78.424345,71.088962,82.029847,77.065167,80.851937,76.963661,70.604116,69.121200,79.747620,82.441610,...,86.776683,80.697374,84.201282,100.240089,87.179182,73.259189,96.274695,98.088275,64.801101,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-10 08:10:00,88.298801,88.737603,85.920246,76.027065,83.313035,76.982368,81.077622,82.325490,83.229005,90.786499,...,85.911740,80.630933,73.056439,84.996224,93.458003,82.365337,78.184435,86.516149,74.845888,1
2023-10-10 08:20:00,76.697886,80.359922,88.411885,91.401807,78.593923,86.947664,84.014665,81.805379,68.125038,79.700177,...,84.256078,85.489937,77.251023,69.715015,73.146892,71.785662,84.747028,89.117587,71.713996,1
2023-10-10 08:30:00,68.748064,92.729370,74.918339,84.639056,93.866520,71.471937,87.516403,67.228845,75.424891,78.671771,...,79.608743,89.274021,78.452613,90.986403,75.520198,72.211415,72.812473,84.264733,58.670585,1
2023-10-10 08:40:00,68.755600,73.852701,87.154476,90.753889,84.499177,101.799440,76.040367,77.424595,72.840291,84.654506,...,96.159947,88.250597,78.625033,86.481374,70.504152,78.367567,84.591511,89.811414,81.943857,1
2023-10-10 08:50:00,73.495064,103.408334,89.620882,89.757258,75.818339,73.419082,77.422777,77.707168,69.714027,81.836925,...,103.040862,91.757910,78.924791,93.169023,88.643988,73.800046,78.225095,81.506993,78.501945,1

In [18]:
# normal distribution
PERIOD = 12
GAMMA = 0
SF = 1.96
UB = []           
LB = []

for j in range(1,1000):
    # 실측치와 예측치를 비교하는 자료구조
    difference_array = []
    dt = []
    difference_table = {"actual": df_copy[f'heart_rate{j+1}'], "predicted": result_df[f'pred_y{j+1}'], "difference": difference_array, "UB": UB, "LB": LB}

# brutlag 알고리즘
# i안에 넣어버리면 j가 1일 동안에 i 1~1000, j가 2일 때 반복 한번에 넣어야함
for j,i in zip(range(0,1000),range(len(result_df))):
    # 밑에 식으로 하면 서로 다른 데이터프레임의 열로 연산하는거라 Nan만 출력함
    # 같은 데이터프레임으로 합쳐줘야함
    # diff = df_copy.iloc[f'heart_rate{j+1}']-result_df.iloc[:,i]
    diff_df[f'diff{j+1}'] = diff_df[f'heart_rate{j+1}'] - diff_df[f'pred_y{j+1}']
    if i < PERIOD:
        dt.append(GAMMA*abs(diff_df[f'diff{j+1}']))
    else:
        dt.append(GAMMA*abs(diff_df[f'diff{j+1}']) + (1-GAMMA)*dt[i-PERIOD])

    difference_array.append(diff_df[f'diff{j+1}'])
    UB.append(diff_df[f'pred_y{j+1}']+SF*dt[i])
    LB.append(diff_df[f'pred_y{j+1}']-SF*dt[i])
    
for j in range(0,1000):
    if (diff_df[f'diff{j+1}'] > UB[j]).any() or (diff_df[f'diff{j+1}'] < LB[j]).any():
        result_df[f'event{j+1}'] = 1
    else:
        result_df[f'event{j+1}'] = 0

##### 결과 표

In [27]:
result_df.iloc[:,1000:]

,event1000,event1,event2,event3,event4,event5,event6,event7,event8,event9,...,event990,event991,event992,event993,event994,event995,event996,event997,event998,event999
2023-10-01 00:00:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2023-10-01 00:10:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2023-10-01 00:20:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2023-10-01 00:30:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2023-10-01 00:40:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-10 08:10:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2023-10-10 08:20:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2023-10-10 08:30:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2023-10-10 08:40:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2023-10-10 08:50:00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [32]:
# result 데이터 셋의 변수명 event는 원래 정답인
# df 데이터 셋의 event와 겹침
# 방지를 위해 pred_y로 변경해줘야 함
aaa = result_df.iloc[:,1000:].copy()
aaa.reset_index(drop=True, inplace=True)
aaa

for i in range(1,1001):
    aaa[[f'pred_y{i}']] = aaa[[f'event{i}']]

aaa2 = aaa.iloc[:,1000:].copy()
aaa2

,pred_y1,pred_y2,pred_y3,pred_y4,pred_y5,pred_y6,pred_y7,pred_y8,pred_y9,pred_y10,...,pred_y991,pred_y992,pred_y993,pred_y994,pred_y995,pred_y996,pred_y997,pred_y998,pred_y999,pred_y1000
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1346,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1347,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1348,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1349,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [29]:
aa2.drop(labels=['update_time'], axis=1, inplace=True)

In [33]:
final_normal = pd.concat([aaa2,aa2], axis = 1)
final_normal

,pred_y1,pred_y2,pred_y3,pred_y4,pred_y5,pred_y6,pred_y7,pred_y8,pred_y9,pred_y10,...,heart_rate995,event995,heart_rate996,event996,heart_rate997,event997,heart_rate998,event998,heart_rate999,event999
0,1,1,1,1,1,1,1,1,1,1,...,75,0,73,0,62,0,96,0,78,0
1,1,1,1,1,1,1,1,1,1,1,...,96,0,88,0,96,0,96,0,91,0
2,1,1,1,1,1,1,1,1,1,1,...,85,0,89,0,95,0,98,0,78,0
3,1,1,1,1,1,1,1,1,1,1,...,71,0,94,0,75,0,100,0,88,0
4,1,1,1,1,1,1,1,1,1,1,...,91,0,90,0,66,0,68,0,98,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1,1,1,1,1,1,1,1,1,1,...,129,1,93,0,62,0,88,0,137,1
1346,1,1,1,1,1,1,1,1,1,1,...,66,0,80,0,99,0,93,0,108,1
1347,1,1,1,1,1,1,1,1,1,1,...,94,0,87,0,68,0,87,0,81,0
1348,1,1,1,1,1,1,1,1,1,1,...,63,0,63,0,67,0,96,0,73,0
1349,1,1,1,1,1,1,1,1,1,1,...,100,0,89,0,73,0,66,0,91,0

In [36]:
final_1 = pd.DataFrame()

for i in range(1,1001):
    final_1[[f'event{i}',f'pred_y{i}']] = final_normal[[f'event{i}',f'pred_y{i}']]
    
    
final_1.set_index(tet['update_time'], inplace=True)
print(final_1.head())
final_1[1008:]

                     event1  pred_y1  event2  pred_y2  event3  pred_y3  \
update_time
2023-10-01 00:00:00       0        1       0        1       0        1
2023-10-01 00:10:00       0        1       0        1       0        1
2023-10-01 00:20:00       0        1       0        1       0        1
2023-10-01 00:30:00       0        1       0        1       0        1
2023-10-01 00:40:00       0        1       0        1       0        1

                     event4  pred_y4  event5  pred_y5  ...  event996  \
update_time                                            ...
2023-10-01 00:00:00       0        1       0        1  ...         0
2023-10-01 00:10:00       0        1       0        1  ...         0
2023-10-01 00:20:00       0        1       0        1  ...         0
2023-10-01 00:30:00       0        1       0        1  ...         0
2023-10-01 00:40:00       1        1       0        1  ...         0

                     pred_y996  event997  pred_y997  event998  pred_y998  \
update_time
2023-10-01 00:00:00          1         0          1         0          1
2023-10-01 00:10:00          1         0          1         0          1
2023-10-01 00:20:00          1         0          1         0          1
2023-10-01 00:30:00          1         0          1         0          1
2023-10-01 00:40:00          1         0          1         0          1

                     event999  pred_y999  event1000  pred_y1000
update_time
2023-10-01 00:00:00         0          1          0           1
2023-10-01 00:10:00         0          1          0           1
2023-10-01 00:20:00         0          1          0           1
2023-10-01 00:30:00         0          1          0           1
2023-10-01 00:40:00         0          1          0           1

[5 rows x 2000 columns]

,event1,pred_y1,event2,pred_y2,event3,pred_y3,event4,pred_y4,event5,pred_y5,...,event996,pred_y996,event997,pred_y997,event998,pred_y998,event999,pred_y999,event1000,pred_y1000
update_time,,,,,,,,,,,,,,,,,,,,,
2023-10-08 00:00:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
2023-10-08 00:10:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
2023-10-08 00:20:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
2023-10-08 00:30:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
2023-10-08 00:40:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-10 08:10:00,1,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,1,1,0,1
2023-10-10 08:20:00,0,1,0,1,1,1,1,1,0,1,...,0,1,0,1,0,1,1,1,0,1
2023-10-10 08:30:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
2023-10-10 08:40:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
2023-10-10 08:50:00,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1

In [37]:
ab = final_1[1008:].copy()
ab.to_csv('../../결과/holt_uniform_simulation_result.csv', index=False)