In [1]:
import pandas as pd
import numpy as np
import random
import seaborn as sns

In [2]:
# update_time 데이터프레임 생성, 10분 단위로 생성
date = pd.date_range('2023-10-01 00:00:00', periods=1350, freq='10T')

# 임시 데이터 만들기
q1 = pd.DataFrame()
q1['a'] = 1

# 데이터 합치기
q = pd.DataFrame(q1, index = date)

# datetimeindex를 변수로 변경
q.reset_index(drop=False, inplace=True)

# 필요없는 변수 삭제
del q['a']

# 변수명 변경
q.rename(columns = {'index' : 'update_time'}, inplace = True)
q

             update_time
0    2023-10-01 00:00:00
1    2023-10-01 00:10:00
2    2023-10-01 00:20:00
3    2023-10-01 00:30:00
4    2023-10-01 00:40:00
...                  ...
1345 2023-10-10 08:10:00
1346 2023-10-10 08:20:00
1347 2023-10-10 08:30:00
1348 2023-10-10 08:40:00
1349 2023-10-10 08:50:00

[1350 rows x 1 columns]

# 격렬한 운동 데이터 만들기

### 20대 만들기
- 일주일 + 3일(342) 만들기
- 노이즈 5%, 10%

In [3]:
161+80
241/2

120.5

In [35]:
print(pd.DataFrame(np.random.normal(120.5, 20, 1350)).describe())
r_data = np.random.normal(120.5, 20, 1350)

r = pd.DataFrame()
r['a'] = r_data
print(len(r[(r['a']<80)|(r['a']>161)]))

                 0
count  1350.000000
mean    120.198293
std      19.822399
min      60.552943
25%     106.147953
50%     120.486728
75%     133.813325
max     190.125520
70

In [5]:
젊음 = pd.DataFrame()

# 각 변수 생성과 데이터프레임 병합
for i in range(1, 1001):
   # 각 변수별로 다른 random seed 설정
   np.random.seed(i)
   
   # 정규분포 랜덤 추출
   # 일주일치 1008개
   r_data = np.random.normal(120.5, 20, 1350) 
   r_data = r_data.astype(int)    
   
   # 변수명 생성 
   var_name = f'heart_rate{i}'
   
   # 데이터프레임에 변수 추가
   젊음[var_name] = r_data
   
   # event로 변수 생성
   젊음[f'event{i}'] = 젊음[var_name].apply(lambda x: 1 if (x < 80 )|(x > 161) else 0 if 80 <= x <= 161 else x)
   
   # 변수(본포{i})마다 행 순서 바꾸기
   np.random.seed(i)
   젊음 = 젊음.sample(frac=1)
   
print(젊음.shape)

(1350, 2000)

In [6]:
# for i in range(1,1001):
#     sns.kdeplot(젊음[f'heart_rate{i}'])

In [7]:
젊음.set_index(q['update_time'], inplace=True)
젊음.index[:5]

DatetimeIndex(['2023-10-01 00:00:00', '2023-10-01 00:10:00',
               '2023-10-01 00:20:00', '2023-10-01 00:30:00',
               '2023-10-01 00:40:00'],
              dtype='datetime64[ns]', name='update_time', freq=None)

## 중년

In [8]:
70+147
217/2

108.5

In [31]:
r_data = np.random.normal(108.5, 19, 1350)
print(pd.DataFrame(r_data).describe())

r = pd.DataFrame()
r['a'] = r_data
print(len(r[(r['a']<70)|(r['a']>147)]))

                 0
count  1350.000000
mean    107.760805
std      18.566019
min      37.904863
25%      96.028761
50%     107.688817
75%     120.096980
max     158.349560
54

In [10]:
# 한 분포에서 추출하기
# train
중년 = pd.DataFrame()

# 각 변수 생성과 데이터프레임 병합
for i in range(1, 1001):
   # 각 변수별로 다른 random seed 설정
   np.random.seed(i)
   
   # 정규분포 랜덤 추출
   # 일주일치 1008개
   r_data = np.random.normal(108.5, 19, 1350) 
   r_data = r_data.astype(int)    
   
   # 변수명 생성 
   var_name = f'heart_rate{i}'
   
   # 데이터프레임에 변수 추가
   중년[var_name] = r_data
   
   # event로 변수 생성
   중년[f'event{i}'] = 중년[var_name].apply(lambda x: 1 if (x < 70 )|(x > 147) else 0 if 70 <= x <= 147 else x)
   
   # 변수(본포{i})마다 행 순서 바꾸기
   np.random.seed(i)
   중년 = 중년.sample(frac=1)
   
print(중년.shape)

(1350, 2000)

In [11]:
중년.set_index(q['update_time'], inplace=True)
중년.index[:5]

DatetimeIndex(['2023-10-01 00:00:00', '2023-10-01 00:10:00',
               '2023-10-01 00:20:00', '2023-10-01 00:30:00',
               '2023-10-01 00:40:00'],
              dtype='datetime64[ns]', name='update_time', freq=None)

## 장년

In [12]:
60+134
194/2

97.0

In [30]:
r_data = np.random.normal(97, 18.5, 1350)
print(pd.DataFrame(r_data).describe())

r = pd.DataFrame()
r['a'] = r_data
print(len(r[(r['a']<60)|(r['a']>134)]))

                 0
count  1350.000000
mean     96.249868
std      17.960530
min      39.222687
25%      84.863947
50%      96.258752
75%     107.777397
max     149.559990
60

In [14]:
# 한 분포에서 추출하기
# train
장년 = pd.DataFrame()

# 각 변수 생성과 데이터프레임 병합
for i in range(1, 1001):
   # 각 변수별로 다른 random seed 설정
   np.random.seed(i)
   
   # 정규분포 랜덤 추출
   # 일주일치 1008개
   r_data = np.random.normal(97, 18.5, 1350) 
   r_data = r_data.astype(int)    
   
   # 변수명 생성 
   var_name = f'heart_rate{i}'
   
   # 데이터프레임에 변수 추가
   장년[var_name] = r_data
   
   # event로 변수 생성
   장년[f'event{i}'] = 장년[var_name].apply(lambda x: 1 if (x < 60 )|(x > 134) else 0 if 60 <= x <= 134 else x)
   
   # 변수(본포{i})마다 행 순서 바꾸기
   np.random.seed(i)
   장년 = 장년.sample(frac=1)
   
print(장년.shape)

(1350, 2000)

In [15]:
장년.set_index(q['update_time'], inplace=True)
장년.index[:5]

DatetimeIndex(['2023-10-01 00:00:00', '2023-10-01 00:10:00',
               '2023-10-01 00:20:00', '2023-10-01 00:30:00',
               '2023-10-01 00:40:00'],
              dtype='datetime64[ns]', name='update_time', freq=None)

In [36]:
젊음.to_csv('./re/젊음_적당.csv')
중년.to_csv('./re/중년_적당.csv')
장년.to_csv('./re/장년_적당.csv')